<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
  <link rel="stylesheet" href="/style2.css">
</head>
<body>
  <h1>Create A New Post</h1>

  <form action="/posts" method="POST">
    <input name="name" placeholder="write your name">
    <textarea class="text" name="content" placeholder="Write your Content"></textarea>
   <button class="btn">Create new</button>
  </form> <br>
  
  <form action="/posts" method="GET">
    <button class="button">Home Page</button>
  </form>

</body>
</html>